@charset "UTF-8";
/* CSS Document */

 body {
    background-color: grey;
}

.sidebar{
	position:fixed;
    top: 5px;
    left: 5px;
    border: 1px solid #111;;
	background-color: darkgray;
	text-align: center;
	color: black;
	
	
	
	

}

#right_panel {
    position: absolute;
    width: 96px;
    padding-left: 4px;
    height: 100%;
    right: 0;
    background-color: #f0f0f0;
}

#resize {
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;
}